@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Somos uma organização que oferece as melhores ofertas.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estamos atuando no mercado de revendas online desde 2013.</p>
<p>Telefone: <strong> (27) 99789820 </strong></p>
<h4>Funcionarios e respectivos emails</h4>
<ul>
    <adress>
        <li>Bruno Lamas - <a href="mailto:brunosuporte@max.com"> brunosuporte@max.com </a></li>
        <li>Flavia Albergue - <a href="flaviasuporte@max.com">flaviasuporte@max.com</a></li>
        <li>Geraldo Terroso - <a href="geraldosuporte@max.com">geraldosuporte@max.com</a></li>
    </adress>
</ul>
